.cart_total {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: x-large;
  margin-top: 20px;
  font-weight: normal;
  margin-left: -50px;
}

.cart_gift {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
  font-weight: lighter;
}

.zero {
  margin-left: 5px;
  font-size: 25px;
  font-weight: bolder;
  color: white;
}
